body{
  background-image: radial-gradient(circle at 50% -20.71%, #a7deff 0, #6c90d8 50%, #38496b 100%);
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.container h1{
  color: white;
  font-weight: 700;
}